<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="position-relative">
        <img
          src="{{ asset('public/assets/banner1.png') }}"
          class="img-fluid"
          alt="First Image"
        />
        <div
          class="position-absolute top-50 start-50 translate-middle text-center ms-4"
        >
          <h6 class="banh6">Woman's collection</h6>
          <h3 class="banh3">Up to <b>40% </b> Off</h3>
          <a href="/products?category=2" class="banLink">DISCOVER NOW</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="position-relative">
        <img
          src="{{ asset('public/assets/banner2.png') }}"
          class="img-fluid"
          alt="Second Image"
        />
        <div
          class="position-absolute top-50 start-50 translate-middle text-center ms-4"
        >
          <h6 class="banh6">Man's collection</h6>
          <h3 class="banh3">Best Sellers</h3>
          <a href="/products?category=1" class="banLink">DISCOVER NOW</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="position-relative">
        <img
          src="{{ asset('public/assets/banner3.png') }}"
          class="img-fluid"
          alt="Third Image"
        />
        <div
          class="position-absolute top-50 start-50 translate-middle text-center ms-4"
        >
          <h6 class="banh6">Kid's collection</h6>
          <h3 class="banh3">New brands</h3>
          <a href="/products?category=3" class="banLink">DISCOVER NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
