<div>
  <div class="row g-0">
    <!-- Each 'col-sm-12' ensures that on small screens, each section takes the full width, thus stacking vertically -->
    <div class="col-sm-12 col-md-3">
      <div class="grey-div">
        <div class="info-inline">
          <i class="fas fa-truck"></i>
          <div>
            <h6>FREE SHIPPING</h6>
            <p>Orders over $100</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="grey-div">
        <div class="info-inline">
          <i class="fas fa-undo"></i>
          <div>
            <h6>FREE RETURN</h6>
            <p>Within 30 days returns</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="grey-div">
        <div class="info-inline">
          <i class="fas fa-lock"></i>
          <div>
            <h6>SECURE PAYMENT</h6>
            <p>100% secure payment</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="grey-div">
        <div class="info-inline">
          <i class="fas fa-tag"></i>
          <div>
            <h6>BEST PRICE</h6>
            <p>Guaranteed price</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
