<div class="container-fluid col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="https://d6xcmfyh68wv8.cloudfront.net/assets/bnpn/img/hero-img.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h4 class="fw-bold text-body-emphasis lh-1 mb-3">UP TO 50% OFF</h4>
      <h2 class="text-orange">On Selected Clothes</h2>
      <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam possimus
        magnam ipsa? Ducimus maxime doloribus, reiciendis enim, cupiditate est
        quos quis, modi error maiores molestias.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/products">
          <button type="button" class="btn btn-dark px-4 me-md-2">
            SHOP NOW
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
