<!DOCTYPE html>
<html>
  <head>
    <title>Your Order Confirmation from Best Shop</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      color: #333;
    "
  >
    <div
      style="
        padding: 20px;
        margin: 0 auto;
        max-width: 600px;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 4px;
      "
    >
      <h1 style="color: #007bff; text-align: center">
        Best Shop Order Confirmation
      </h1>
      <p style="text-align: center">Thank you for shopping with us!</p>

      <p>Dear Customer,</p>
      <p>
        We are thrilled to inform you that your recent order has been
        successfully processed. As the best clothes shop in the world, we take
        pride in providing you with top-quality products and exceptional
        service.
      </p>

      <h2 style="color: #333; font-size: 1.2em">Order Details:</h2>
      <ul style="list-style-type: none; padding: 0">
        {% for orderLine in order.getOrderLines %}
        <li
          style="
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 8px 15px;
            margin-bottom: 10px;
            border-radius: 4px;
          "
        >
          {{ orderLine.products.title }} <p> Quantity: {{ orderLine.quantity }} </p>
          Price: ${{ orderLine.products.price }}
        </li>
        {% endfor %}
      </ul>

      <p style="font-weight: bold; color: #28a745">Total: ${{ order.total }}</p>

      <p>
        Your order will be shipped to you shortly. We will send you another
        email once your items are on their way. In the meantime, if you have any
        questions or need further assistance, please don't hesitate to contact
        our customer service team.
      </p>

      <p>Thank you for choosing Best Shop. We hope you enjoy your purchase!</p>

      <p style="text-align: center">Best regards,</p>
      <p style="text-align: center; font-weight: bold">The Best Shop Team</p>
    </div>
  </body>
</html>
